@font-face {
  font-family: 'Lato';
  src: url('./src/assets/lato.woff2') format('woff2');
}

:root {
  --color-text: #0d1117;
  --bg-color: #fcfcfc;
  --main-color: #005bfd;
  --font-family: "Lato", sans-serif;
}

:root[data-theme="dark"] {
  --color-text: #fcfcfc;
  --bg-color: #0d1117;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--color-text);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: normal;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

img,
button {
  background-color: transparent;
}

button,
input {
  outline: none;
  border: none;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.header {
  position: absolute;
  top: 23px;
  left: 20px;
  display: flex;
  gap: 18px;
  align-items: center;
}

.progresBar {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 75px;
  height: 100vh;
}

@media (orientation: portrait) {
  .progresBar {
    flex-direction: column;
  }
}

@media (orientation: landscape) {
  .progresBar {
    flex-direction: row;
  }
}

.progresBarControls {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.controlItem {
  display: flex;
  align-items: center;
  gap: 18px;
}
