.inputClassName {
  border: 1px solid #000;
  border-radius: 16px;
  width: 45px;
  height: 28px;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
}

.inputClassName::-webkit-inner-spin-button,
.inputClassName::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputClassName::placeholder {
  font-size: 11px;
  text-align: center;
}
