.toggleCheckbox {
  position: relative;
  width: 45px;
  height: 28px;
  background-color: #ccc;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggleCheckbox::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggleCheckbox:checked {
  background-color: #005bfd;
}

.toggleCheckbox:checked::before {
  transform: translateX(17px);
}

